<div class="main-content">
  
  <div class="row text-center">
    <div class="col-md-6 text-left">
      <button [routerLink]= "['/remesas']" 
      class="btn btn-outline-success pull-left "> <i class="fas fa-arrow-circle-left"> Listado Remesas</i></button>
    </div>
    <div class="col-md-6 text-center">
      
        <a class="btn btn-warning pull-right" [href]="urlExportable" role="button"><i class="fas fa-file-excel"></i> EXPORTAR REMESA</a>
    </div>
      
  </div>

    <div class="container-fluid">

        
       
   <br> 
      <div class="card card-plain">
             
         <br> 
         <div class="card-header card-header-danger">
            <h3 class="card-title text-center">Detalles de la remesa Nº {{remesas.id_consignment}}</h3>
            
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">

                <table class="table table-hover">
                   
                    <tbody >
                      <tr>
                        <th scope="row">1</th>
                        <td><strong>Solicitud:</strong></td>
                        <td>{{remesas.request}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td><strong>Estado:</strong></td>
                        <td>{{remesas.status}}</td>
                    
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td ><strong>Gobernación:</strong></td>
                        <td>{{remesas.governance}}</td>
                      </tr>
                      <tr>
                          <th scope="row">4</th>
                          <td ><strong>Usuario:</strong></td>
                          <td>{{remesas.name_user}}<td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td ></td>
                            <td class="text-right">
                                <button *ngIf="authority === 'admin' || authority === 'gobernacion'  " 
                                (click)="enviarAUPF(remesas,remesas.id_consignment,'Enviada UPF')"
                                type="button" class="btn btn-info btn-sm">
                                <i class="fas fa-check-circle"></i>
                                Enviar para revision de UPF
                              </button> 
                              <td>
                          </tr>

                    </tbody>
                  </table>
                  <!--FIN DE LA TABLA, AHORA AGREGAR UN BOTON PARA NUEVOS ITEMS-->

                </div>
          
            </div>
        </div>
        <!--fin de row-->
        <div class="row text-center" *ngIf="authority === 'admin' || authority === 'upf' || authority === 'gobernacion' " >
            <div class="col-md-12 text-center">
                <button 
                [routerLink]="['/remesa', remesas.id_consignment,'item', 0]"
                 mat-raised-button type="submit" class="btn btn-info pull-right"><i class="fas fa-plus-circle" style="size:5x;"></i> NUEVO ITEM</button>
             </div>
             
             
          </div>
       <br> 

       <!--Fin del boton agregar item-->
       <div class="card-header card-header-success">
          <h3 class="card-title text-center">Listado de items</h3>
          
      </div>
       <!--listado de items-->
       <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-hover">
                      
                      <thead class="">
                        <tr>
                          <th > <small><strong>Opciones</strong></small></th>
                          <th ><small><strong>Estado</strong></small></th>
                          <th ><small><strong>Id Item</strong></small></th>
                          <th ><small><strong>Tipo Gasto</strong></small></th>
                          <th ><small><strong>Resolución</strong></small></th>
                          <th ><small><strong>Orden de compra</strong></small></th>
                          <th ><small><strong>NºFactura o boleta</strong></small></th>
                          <th ><small><strong>Rut</strong></small></th>
                          <th ><small><strong>Proveedor</strong></small></th>
                          <th ><small><strong>Detalle</strong></small></th>
                          <th ><small><strong>Monto</strong></small></th>
                          <th ><small><strong>Item Presupuestario</strong></small></th>
                          <th ><small><strong>Nombre del Item</strong></small></th>
                          <th ><small><strong>PDF Asociado</strong></small></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor=" let k of items | keys; let i = index">
                          <th>
                            <button *ngIf="authority === 'admin' || authority === 'upf'  " 
                            (click)="cambiarEstado(items[k],remesas.id_consignment,items[k].item_id, 'aprobado' )"
                            type="button" class="btn btn-info btn-sm">
                            <i class="fas fa-check-circle"></i>
                            Validar Item
                          </button> 
                            <button *ngIf="authority === 'admin' || authority === 'gobernacion' " 
                            [routerLink]="['/remesa',remesas.id_consignment, 'item',items[k].item_id]"
                            type="button" class="btn btn-success btn-sm">
                            <i class="fas fa-edit"></i>
                            Editar item
                            </button> 
                            <button *ngIf="authority === 'admin' || authority === 'upf'  " 
                            (click)="cambiarEstado(items[k],remesas.id_consignment,items[k].item_id, 'rechazado' )"
                            type="button" class="btn btn-danger btn-sm">
                            <i class="fas fa-times-circle"></i>
                            Rechazar item
                          </button>
                          </th>
                          <td>{{items[k].status}}</td>
                          <td>{{items[k].item_id}}</td>
                          <td>{{items[k].type_gast}}</td>
                          <td>{{items[k].resolution}}</td>
                          <td>{{items[k].purchase_order}}</td>
                          <td>{{items[k].bill_number}}</td>
                          <td>{{items[k].rut | rut }}</td>
                          <td>{{items[k].provider}}</td>
                          <td>{{items[k].detail}}</td>
                          <td>{{items[k].money}}</td>
                          <td>{{items[k].budget_item}}</td>
                          <td>{{items[k].name_item}}</td>
                          <td> 
                            <button [routerLink]="['/remesaDetail', items[k].item_id ,'file']"
                            mat-raised-button type="submit" class="btn btn-info pull-right btn-sm"> <i class="fas fa-plus-circle" style="size:5x;"></i>Agregar PDF</button> 
                            &nbsp;
                            <button [routerLink]="['/remesaDetail', items[k].item_id ,'fileAll']"
                            mat-raised-button type="submit" class="btn btn-warning pull-right btn-sm" ><i class="fas fa-file-pdf" ></i> Ver</button>
                           
                            &nbsp; 
                            <!--
                            <button mat-raised-button type="submit" class="btn btn-success pull-right btn-sm"><i class="fas fa-edit" style="size:5x;"></i>Editar </button> 
                          -->
                          </td>
                          
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>

              </div>
        
          </div>
      </div>

      <!--FIN LISTADO DE LOS ITEMS-->

      <div class="card-header card-header-primary">
          <h3 class="card-title text-center">MONTO TOTAL DE LA REMESA Nº {{remesas.id_consignment}}</h3>
          
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="card">

              <table class="table table-hover">
                 
                  <tbody >
                      <tr >
                      <th scope="row">Total:</th>
                      
                      <td>{{total | currency}}</td>
                      
                    </tr>
                    
                  </tbody>
                </table>
                <!--FIN DEL CUADRO DEL MONTO TOTAL DE LA REMESA-->

              </div>
        
          </div>
      </div>
      <!--FIN DEL MONTO TOTAL, PARA DAR PASO A RESPONDER LA REMESA-->
      <div class="card-header card-header-warning" *ngIf="authority === 'admin' || authority === 'upf' " >
          <h3 class="card-title text-center">RESPONDER LA REMESA Nº {{remesas.id_consignment}}</h3>
          
      </div>

      <div class="row" *ngIf="authority === 'admin' || authority === 'upf' " >
          <div class="col-md-12">
              <div class="card">

              <table class="table table-hover">
                 
                  <tbody >
                      <tr >
                      <th scope="row">Opciones</th>
                      
                      <td>

                          <button
                          (click)="cambiarEstadoDeRemesa(remesas,remesas.id_consignment,'Aprobado')" 
                          type="button" class="btn btn-info btn-sm">
                          <i class="fas fa-check-circle"></i>
                          Aprobar Remesa
                        </button> 
                          <button 
                          (click)="cambiarEstadoDeRemesa(remesas,remesas.id_consignment,'Aprobado Parcialmente')" 
                          type="button" class="btn btn-success btn-sm">
                         Aprobar Parcialmente la remesa
                          </button> 
                          <button
                          (click)="cambiarEstadoDeRemesa(remesas,remesas.id_consignment,'Rechazado')"  
                          type="button" class="btn btn-danger btn-sm">
                          <i class="fas fa-times-circle"></i>
                          Rechazar Remesa
                        </button>
                      </td>
                      
                    </tr>
                    
                  </tbody>
                </table>
                <!--FIN DEL CUADRO DEL MONTO TOTAL DE LA REMESA-->

              </div>
        
          </div>
      </div>


      </div>
    </div>
</div>