
<!--
<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
</div>
-->



<div class="main-content" >
      
    <div class="container-fluid">
        
        <div class="row">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                  <!-- Tabs Titles -->
              
                  <!-- Icon -->
                  <div #loggedOut class="fadeIn first">
                    <img src="/assets/img/UPFLOGO2.png" id="icon" alt="User Icon" />
                    <h1>Sistema de Control Financiero</h1>
                  </div>
              
                  <!-- Login Form -->
                  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                      <div class="form-group fadeIn second">
                          <label for="username">Nombre de Usuario</label>
                          <input type="text" class="form-control" placeholder="Usuario" name="username" [(ngModel)]="form.username" #username="ngModel"
                            required />
                          <div *ngIf="f.submitted && username.invalid">
                            <div *ngIf="username.errors.required">Ingrese su nombre de usuario</div>
                          </div>
                        </div>
                        <div class="form-group fadeIn third">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" placeholder="Contraseña" name="password" [(ngModel)]="form.password" #password="ngModel"
                              required minlength="6" />
                            <div *ngIf="f.submitted && password.invalid">
                              <div *ngIf="password.errors.required">Ingrese su contraseña</div>
                              <div *ngIf="password.errors.minlength">Contraseña requiere mas de 6 caracteres</div>
                            </div>
                          </div>
                          <div class="form-group fadeIn fourth">
                              <button class="btn btn-primary">Iniciar Sesión</button>
                              <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                                Error al Ingresar al sistema: Usuario o Contraseña invalidos
                              </div>
                            </div>
                        
                    
                  </form>
              
                  <!-- Remind Passowrd -->
                  <div id="formFooter">
                    <!--a class="underlineHover" href="#">Go to the Site</a-->
                  </div>
              
                </div>
              </div>
          <div class="card">
              <!--
            <div #loggedOut class="signin-content">
    
                <div class="row col-sm-6" style="max-width:350px;">
                  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
                        required />
                      <div *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">Username is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
                        required minlength="6" />
                      <div *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary">Login</button>
                      <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                        Error al Ingresar al sistema: Usuario o Contraseña invalidos
                      </div>
                    </div>
                  </form>
                  <hr />
                  
                </div>
              
              
              </div>
            -->
        </div>
      </div>
    </div>
</div>
