
     
<div class="main-content" *ngIf="authority === 'admin' || authority === 'upf'  ">
          
        <div class="container-fluid">
            <div class="row text-center">
                    <div class="col-md-6 text-left" >
                            <button 
                            
                            [routerLink]="['/presupuestoPapelera']"
                             mat-raised-button type="submit" class="btn btn-outline-warning pull-left">
                             <i class="fas fa-recycle"></i>
                              IR A PAPELERA DE PRESUPUESTOS</button>
                         </div>
                      <div class="col-md-6 text-center">
                          <button 
                          
                          [routerLink]="['/presupuesto',0]"
                           mat-raised-button type="submit" class="btn btn-info pull-right">
                           <i class="fas fa-plus-circle"></i>
                            NUEVO PRESUPUESTO</button>
                       </div>
                    </div>
                 
             <br> 
              
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title text-center">LISTADO DE PRESUPUESTOS</h4>
                            <p > Listado de presupuestos por validar</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class=" text-primary">
                                        <th>ID</th>
                                        <th>
                                            Gobernación
                                        </th>
                                        <th>
                                            Fecha  
                                        </th>
                                        <th>
                                            Presupuesto
                                        </th>
                                        <th>
                                            Observaciones  
                                        </th>
                                        <th class="text-center">
                                            Opciones </th>
                                       
                                    </thead>
                                    <tbody>
                                        <tr *ngFor=" let k of presupuestos | keys; let i = index">
                                          <td>{{presupuestos[k].budget_id}}</td>
                                          <td>{{presupuestos[k].governance}}</td>
                                          <td>{{presupuestos[k].date}}</td>
                                          <td>{{presupuestos[k].budget | currency}}</td>
                                          <td>{{presupuestos[k].observation}}</td>
                                          <td class="text-center">
                                              &nbsp;
                                              &nbsp;
                                              &nbsp;
                                           <!--button  
                                           
                                              type="button" class="btn btn-outline-info btn-sm" >
                                              <i class="fas fa-align-justify"></i>
                                              Revisar
                                              </button-->
                                          <button  
                                          [routerLink]="['/presupuesto', presupuestos[k].budget_id]"
                                          type="button" class="btn btn-outline-success btn-sm" >
                                          <i class="fas fa-edit"></i>
                                          Editar
                                          </button>
                                          <button
                                          (click)="cambiarEstado(presupuestos[k],presupuestos[k].budget_id, 'inactivo')" 
                                          
                                          type="button" class="btn btn-outline-danger btn-sm">
                                          <i class="fas fa-trash-alt"></i>
                                              Papelera
                                          </button>
      
                                          </td>
                                          
      
                                        </tr>
                                                         
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      